/* common shared styles */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;


}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* header related styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dev {
    color: rgba(24, 24, 24, 0.15);
    font-family: Open Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 33px;
    transform: rotate(-90deg);
    position: absolute;
    top: 300px;
    left: 270px;
}

.banner .profile-pic {
    width: 500px;
    position: relative;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;

}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-column-title {

    color: #474747;

    font-size: 25px;

    font-weight: 700;

}

.resumeSecton {
    margin-bottom: 120px;
}

.btn {
    text-align: center;
    padding-top: 30px;
}

.resumeSecton button {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    outline: none;
    line-height: normal;
    padding: 18px 39px;
    box-shadow: none;
    border-radius: 5px;
    background: #FD6E0A;
    cursor: pointer;
    border: none;
}


.resume-column {
    display: flex;
}

.resume-left {
    padding-right: 24px;
}

footer {
    background: #FFF8F3;
    padding: 130px 0;
}

.contact {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 130px;
}

.contact h1 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact p {
    color: #474747;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.social {}

.social img {}

.con_Right {}

.con_Right h1 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact form {}

.contact form input {
    color: #181818;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 30px;
    width: 100%;
    border: none;
    margin-bottom: 24px;
    box-shadow: none;
    outline: none;
}

.contact form textarea {
    color: #181818;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 30px;
    height: 180px;
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 24px;
}

.contact form button {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    outline: none;
    line-height: normal;
    padding: 18px 39px;
    box-shadow: none;
    border-radius: 5px;
    background: #FD6E0A;
    cursor: pointer;
    border: none;
}